<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- DEV -->

    <add name="ConnectionString" connectionString="Server=49.0.64.9,18963; Initial Catalog=XC-COVERAGE; Persist Security Info=False; User ID=sa; Password=P@ssw0rd; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=True; Connection Timeout=30;" />

    <!-- DEV -->

    <!-- PRODUCTION -->

    <!--<add name="ConnectionString" connectionString="Server = 49.0.64.14,18963; Initial Catalog=banana-developer; Persist Security Info=False; User ID=sa; Password=P@ssw0rd; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=True; Connection Timeout=30;" />-->

    <!-- PRODUCTION -->
  </connectionStrings>
</configuration>